<!-- <!DOCTYPE html> -->

<!-- <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
     <link rel="stylesheet" href="assets/css/style.css"> 
    <title>Singnup</title>

</head> -->
{% extends 'base.html' %}
{% block title %}
signup
{% endblock %}

{% for field,errors in form.errors.items() %}
<div>{{','.join(errors)}}</div>
{% endfor %}
{% block content %}

<body style="background-color: rgb(95, 38, 119) ;color: rgb(44, 27, 44);">

<div class="container col-xs-6 col-sm-6 col-md-6 col-lg-6"
     style="background-color: rgb(213, 169, 253); color: #000; margin-top: 5%;">
    {{ form.hidden_tag() }}

    <form action="" method="POST" class="form-group">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <fieldset>
            <legend>Register here:</legend>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

            </div>

            <dir class="form-group">
                <label for=""></label>
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                {{ form.username.label }}
                {{ form.username(class="form-control ",placeholder="Enter user name...") }}
                {% for errors in form.username.errors %}

                <div class="alert alert-warning">{{ errors }}</div>

                {% endfor %}

            </dir>
            <dir class="form-group">
                <label for=""></label>
                <i class="fas fa-mail-bulk    "></i>
                {{ form.email.label }}
                {{ form.email(class= "form-control",placeholder='Enter Email...') }}
                {% for error in form.email.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </dir>
            <dir class="form-group">
                <label for="">Date of Birth <i class="fa fa-birthday-cake" aria-hidden="true"></i></label>

                <input type="date" name="date_of_birth" class="form-control" required>
            </dir>
            <dir class="form-group">
                <label for=""></label>
                <i class="fa fa-lock" aria-hidden="true"></i>
                {{ form.password.label }}
                {{ form.password(class= "form-control",placeholder="Enter passowords with 'alpha numeric and symbols'
                combination") }}
                {% for error in form.password.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </dir>

            <dir>
                <label for=""></label>
                <i class="fas fa-lock    "></i>
                {{ form.confirm_password.label}}
                {{ form.confirm_password(class= "form-control") }}
                {% for error in form.confirm_password.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>

                {% endfor %}

            </dir>
            <dir>
                <i class="fa fa-genderless" aria-hidden="true"></i>
                {{ form.gender.label }}
                {{ form.gender(class = "form-control") }}
            </dir>
            <DIr>
                <i class="fas fa-phone    "></i>
                {{ form.phone.label }}
                {{ form.phone (class = "form-control",) }}
                {% for error in form.phone.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </DIr>
            <dir><small>
                {{ form.remember_me.label }}
                {{ form.remember_me }}
            </small></dir>

            <dir class="form-group">
                <label for=""></label>

                {{ form.submit(class="btn btn-primary") }}
            </dir>
        </fieldset>
    </form>

</div>
<!-- <div style="color: rgb(247, 244, 248);margin-left: 0%;">

    <table border=2 style="border-color: aliceblue;">
        {% for i,j in result.items() %}
        <tr>
            <th>{{ i }}</th>
            <td>{{ j }}</td>
            {% endfor %}
        </tr>
</div> -->

<!-- <table  border=1 class="table table-dark">
    <thead><tr>
        <th>field</th>
        <th>values</th>
    </tr></thead>
    {% for i,j in result.items() %}
    <tbody>
        <tr>
            <th>{{ i }}</th>
            <td>{{ j }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table> -->

<div class="table-responsive ">
    <table class="table table-hover table-light table-bordered">


        <thead>
        <tr>
            <th>field</th>
            <th>values</th>
        </tr>
        </thead>
        {% for i,j in result.items() %}
        <tbody>
        <tr>
            <th>{{ i }}</th>
            <td>{{ j }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>

</body>


{% endblock %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

</script> -->

<!-- </html> -->